*,
*::before,
*::after {
	box-sizing: border-box;
}

@media screen {
	body {
		--color-text: gold;
		--color-border: silver;
		--color-label: saddlebrown;
		--color-modal-bg: rgb(20, 40, 40);
		--color-button-bg: grey;
		--color-bg-top: rgb(50, 55, 75);
		--color-bg-bottom: rgb(5, 10, 15);
		max-width: 50em;
		margin: 0 auto;
		font-weight: 600;
		font-size: 12pt;
	}
	body.forest-night {
		--color-text: rgb(0, 192, 0);
		--color-border: rgb(0, 192, 0);
		--color-label: rgb(0, 128, 0);
		--color-modal-bg: rgb(5, 8, 10);
		--color-button-bg: rgb(40, 50, 70);
		--color-bg-top: rgb(40, 50, 70);
		--color-bg-bottom: rgb(5, 8, 10);
	}
	body.phoenix-fire {
		--color-text: red;
		--color-border: red;
		--color-label: crimson;
		--color-modal-bg: gold;
		--color-button-bg: yellow;
		--color-bg-top: white;
		--color-bg-bottom: orange;
	}
	body.dwarven-mine {
		--color-text: gold;
		--color-border: silver;
		--color-label: saddlebrown;
		--color-modal-bg: rgb(20, 40, 40);
		--color-button-bg: grey;
		--color-bg-top: rgb(50, 55, 75);
		--color-bg-bottom: rgb(5, 10, 15);
	}
	body.unicorn-poo {
		--color-text: deeppink;
		--color-border: goldenrod;
		--color-label: rebeccapurple;
		--color-modal-bg: lightgreen;
		--color-button-bg: limegreen;
		--color-bg-top: lightskyblue;
		--color-bg-bottom: aliceblue;
	}
	body.high-contrast {
		--color-text: black;
		--color-border: black;
		--color-label: black;
		--color-modal-bg: white;
		--color-button-bg: white;
		--color-bg-top: white;
		--color-bg-bottom: white;
	}
	body.high-contrast-inverse {
		--color-text: white;
		--color-border: white;
		--color-label: white;
		--color-modal-bg: black;
		--color-button-bg: black;
		--color-bg-top: black;
		--color-bg-bottom: black;
	}
}

@media print {
	body {
		--color-text: black;
		--color-border: black;
		--color-label: gray;
		--color-bg-top: white;
		--color-bg-bottom: white;
		--color-modal-bg: transparent;
		--color-button-bg: transparent;
		font-weight: 400;
		font-size: 10pt;
	}

	.hide.print {
		display: block;
	}
	button,
	.show.noprint,
	.noprint {
		display: none;
	}

	.nobreak {
		page-break-inside: avoid;
	}
}

body {
	font-family: sans-serif;
	background-color: var(--color-bg-bottom);
	background-image: linear-gradient(
		182deg,
		var(--color-bg-top),
		var(--color-bg-bottom)
	);
	background-attachment: fixed;
	background-size: cover;
	color: var(--color-text);
}

svg {
	stroke: var(--color-text);
	fill: transparent;
}
.cs-icon {
	position: relative;
	top: 0.1em;
}
h2 {
	text-align: center;
}
h3 {
	display: inline;
}

p {
	padding: 0.5rem;
}

.secondary-text {
	font-size: 90%;
}

a:visited {
	color: var(--color-label);
}

label {
	color: var(--color-label);
}

input {
	background-color: transparent;
	border: 1px solid var(--color-border);
	border-radius: 0.5rem;
	color: var(--color-text);
	padding: 0.5rem;
}
textarea {
	background-color: transparent;
	border: 1px solid var(--color-border);
	border-radius: 0.5rem;
	color: var(--color-text);
	padding: 0.5rem;
	width: 100%;
	font-family: sans-serif;
	font-size: 100%;
	font-size: 12pt;
	font-weight: 600;
}

button {
	background-color: var(--color-button-bg);
	border: 1px solid var(--color-border);
	border-radius: 0.5rem;
	color: var(--color-text);
	font-weight: bold;
	padding: 0.5rem;
}

select {
	appearance: none;
	background: transparent;
	border: 1px solid var(--color-border);
	border-radius: 0.5rem;
	padding: 0.5rem;
	color: var(--color-text);
}

.box {
	padding: 0.5rem;
	margin: 0.25rem;
	border: 1px solid var(--color-border);
	border-radius: 0.5rem;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.row.nowrap {
	flex-wrap: nowrap;
}
.row.show {
	display: flex;
}
span.row,
span.row.show {
	display: inline-flex;
}

.spread {
	justify-content: space-between;
}
.center {
	justify-content: center;
}
.center-items {
	align-items: center;
}
.stretch {
	align-items: stretch;
}

.text-right {
	text-align: right;
}

.col {
	flex: 1 0 0%;
}
.col30 {
	flex: 1 0 30%;
}
div.col {
	display: flex;
	flex-direction: column;
}

.pv {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.ph {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.pl {
	padding-left: 0.5rem;
}
.pr {
	padding-right: 0.5rem;
}
.pt {
	padding-top: 0.5rem;
}
.pb {
	padding-bottom: 0.5rem;
}
.pl1 {
	padding-left: 1rem;
}
.mv {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
.mt {
	margin-top: 0.5rem;
}
.mb {
	margin-bottom: 0.5rem;
}
.mvxs {
	margin-top: 0.1rem;
	margin-bottom: 0.1rem;
}
.mhxs {
	margin-left: 0.1rem;
	margin-right: 0.1rem;
}
.mh {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
.mhs {
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}
.mh1 {
	margin-left: 1rem;
	margin-right: 1rem;
}
.ml {
	margin-left: 0.5rem;
}
.mr {
	margin-right: 0.5rem;
}

.w100 {
	width: 100%;
}
.w30 {
	width: 30%;
}
.w10 {
	width: 10%;
}
.inline-block {
	display: inline-block;
}
.pre {
	white-space: pre-wrap;
}

.btn {
	cursor: pointer;
}

.comments-input {
	width: 30em;
	max-width: 80vw;
}

.inline {
	display: inline;
}

.modal {
	display: none;
	position: fixed;
	z-index: 100;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}
/* Modal Content */
.modal-content {
	position: fixed;
	background-color: var(--color-modal-bg);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
	padding: 0;
	width: max-content;
	max-width: 90vw;
}
.modal-header {
	padding: 0.5em 1em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.modal-body {
	padding: 0.5em 1em 0.5em 1em;
	max-height: 70vh;
	overflow-y: auto;
}

.popover-content {
	display: none;
	background-color: var(--color-bg-top);
	padding: 0.5em;
	border: 2px solid var(--color-text);
}

@media (hover: hover) {
	.popover-container:hover .popover-content {
		display: block;
	}
}

.cs-input,
.cs-counter,
.cs-charges,
.cs-skill-input,
.cs-stat-input {
	text-align: center;
	border: 1px solid var(--color-border);
	border-radius: 0.5rem;
	height: 100%;
}

.cs-counter.action,
.cs-charges.action {
	text-align: left;
}

.cs-stat-input .mod-output {
	border-top: 1px solid var(--color-text);
	margin-top: 0.3rem;
	padding-top: 0.3rem;
}
.img-container {
	position: relative;
}
.img-container a {
	position: absolute;
	top: 0.2em;
	right: 0.2em;
	z-index: 10;
}
.img-container img {
	width: 100%;
}

.cs-img-input {
	text-align: center;
	border: 1px solid var(--color-border);
	border-radius: 0.5rem;
	min-height: 3rem;
	width: 100%;
}
.cs-level-input {
	padding: 0.5rem;
	border: 1px solid var(--color-border);
	border-radius: 0.5rem;
}
.cs-actions,
.cs-inventory {
	position: relative;
	min-height: 2rem;
}
.cs-actions .btn-container,
.cs-inventory .btn-container {
	position: absolute;
	right: 0.5rem;
	top: -1.5rem;
	z-index: 10;
}
cs-action {
	width: 100%;
}
.cs-action {
	padding: 0.5rem;
	border: 1px solid var(--color-border);
	border-radius: 0.5rem;
}
.cs-counter.action,
.cs-charges.action {
	border: none;
}
.cs-counter.action label,
.cs-charges.action label {
	color: var(--color-text);
}
.cs-charges.spell-slot {
	padding: 0.5rem;
}
cs-charges {
	width: 100%;
}

.cs-spell-list,
.cs-spell-slots {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.hide {
	display: none;
}
.show {
	display: block;
}
a {
	color: var(--color-text);
}
a.show,
cs-icon.show,
cs-collapsible.show,
span.show {
	display: inline;
}

div.cs-scrollable {
	overflow-y: scroll;
	max-height: 10rem;
}

.rolls li {
	padding: 0.5rem 0;
}
